{% extends "todo/base.html" %}
{% block content %}
Wellcome to famlily link
<div id='todo'>
Replace me
</div>

<script>
const todoElement = document.getElementById("todo")
todoElement.innerHTML = 'Loading..'
//var el1 = "<h1>sfs</h1>"
//todoElement.innerHTML = el1
const xhr = new XMLHttpRequest()
const method = 'GET' //"POST"
const url = "/todo"
const responseType = "json"
function DoneBtn() {
    return "<button class='btn btn-primary'>Done</button>"
}
function formatTodoElement(todo) {
    var formattedTodo = "<div class='mb-4 todo' id='todo-" + todo.id + "'><p>" + todo.id
    + todo.title + todo.content +
    "</p><div class='btn-group'>" + DoneBtn() +   
    "</div></div>"
    return formattedTodo
}
xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function(){
    const serverResponse = xhr.response
    var listedItems = serverResponse.response //array
    var finalTodoStr = ""
    var i;
    for (i=0;i<listedItems.length; i++) {
        console.log(listedItems[i])
        var todoObj = listedItems[i]
        var currentItem = formatTodoElement(todoObj)
        finalTodoStr += currentItem
    }
    todoElement.innerHTML = finalTodoStr
    //console.log(listedItems)

}

xhr.send()
</script>
{% endblock content %}